<div class="col-lg-2 bg-primary" style="padding:25px;height: 100%;">
	<img src="../../assets/Img_Placeholder.png" alt="img here" height="40px" width="40px">
	<h3>Username</h3><br><br>
	<p><img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px"><label data-toggle="collapse" data-target="#demo">Quotation<span class="caret"></span></label>
	</p>
	<ul class="collapse" id="demo">
		<li>Quotation Processing</li>
		<li>Qutotation Inquiry</li>
	</ul>
	<p><img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px"><label data-toggle="collapse" data-target="#demo1">Underwriting<span class="caret"></span></label>
	</p>
	<ul class="collapse" id="demo1">
		<li>Underwriting Page1</li>
		<li>Underwriting Page2</li>
	</ul><p><img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px"><label data-toggle="collapse" data-target="#demo2">Accounting<span class="caret"></span></label>
	</p>
	<ul class="collapse" id="demo2">
		<li>Accounting Page1</li>
		<li>Accounting Page2</li>
	</ul><p><img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px"><label data-toggle="collapse" data-target="#demo3">Claims<span class="caret"></span></label>
		
	</p>
	<ul class="collapse" id="demo3">
		<li>Claims Page1</li>
		<li>Claims Page2</li>
	</ul>
	<p><img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px"><label data-toggle="collapse" data-target="#demo4">Security<span class="caret"></span></label>
	</p>
	<ul class="collapse" id="demo4">
		<li>Security Page1</li>
		<li>Security Page2</li>
	</ul>
</div>