<div class="col-lg-10" style="padding:15px; background-color: #f3f3f3">
	<div class="col-lg-10" >
		<img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px">
	</div>
	<div class="col-lg-2" align="right">
		<img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px">
		<img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px">
		<img src="../../assets/Img_Placeholder.png" alt="img here" height="25px" width="25px" style="margin-right: 10px">
	</div>
</div>